@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  // background: #f4a0b4;
  // background: linear-gradient(207deg, #f4a0b4 0%, #ffe7f2 80%);
  // background: -webkit-linear-gradient(207deg, #f4a0b4 0%, #ffe7f2 80%);
  // background: -moz-linear-gradient(207deg, #f4a0b4 0%, #ffe7f2 80%);
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}

#loginBtn {
  background-image: url('https://coderwall-assets-0.s3.amazonaws.com/uploads/picture/file/4363/github.png');
  object-fit: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 320px;

  border: none;
}

///////////////////////////////////////////////////////////////////
////////////////////// HEADER NAV BAR //////////////////////////////
///////////////////////////////////////////////////////////////////

#navHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: rgb(233, 82, 82);
  color: white;

  z-index: 2;

  background: #ef6686a6;
  background: linear-gradient(120deg, #ef6687 0%, #ff9bb3c0 80%);
  background: -webkit-linear-gradient(120deg, #fd9db4c4 0%, #ff7c9a 80%);
  background: -moz-linear-gradient(
    120deg,
    #fd8ea8b6 0%rgba (255, 124, 155, 0.726) 9a 80%
  );

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  line-height: 20px;
}

#openUserProfile {
  position: relative;
  top: -16px;
  left: 20px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;

  border-radius: 20px;
  border: 1px gray solid;
  background-color: #e9345f;
  color: white;
  border: none;

  transition: all 0.4s;
}

#openUserProfile:hover {
  opacity: 0.7;
  transition: all 0.4s;
  cursor: pointer;
}

#navProfilePic {
  width: 55px;
  height: 55px;
  border-radius: 200px;
  border: none;
  position: relative;
  top: 4px;
}

.nav {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-message {
  font-style: italic;
  font-size: 0.85rem;
}

.textLogo {
  font-size: 2.5rem;
}

////////////////////////////////////////////////////////////////////
/////////////////////////// SIDE BAR /////////////////////////////////
///////////////////////////////////////////////////////////////////////

// #sideBar {
//   background-color: rgb(105, 105, 255);
//   height: 100vh;
//   width: 20%;
//   min-width: 200px;
//   max-width: 400px;
//   padding: 65px 0 0 0;
// }

#sideBar {
  height: 100%;
  // width: 20%;
  // min-width: 200px;
  // max-width: 400px;
  padding: 120px 0 0 0;
  margin: 0;
}

.grow {
  background-color: #e9345f;

  padding: 13px 5px 5px 5px;
  border-radius: 10px;
  height: 49px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  color: white;

  padding: 8px 20px 20px 20px;
}
.grow:hover {
  height: 160px;
  cursor: pointer;
}

////////////////////////////////////////////////////////////////////
/////////////////////////// MAIN CONTENT /////////////////////////////////
///////////////////////////////////////////////////////////////////////

#mainContentBox {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.textPopIn {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

//////////////////////////Profile Modal//////////////////////////

#profileModal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.664);
  z-index: 2;
}

#profileContent {
  // height: 80vh;
  // width: 80vh;
  background-color: rgba(255, 105, 180, 0.657);
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 85%;

  -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#modalProfilePic {
  max-width: 200px;
  max-height: 200px;
}

#modalProfilePicContainer {
  display: block;
  float: left;
}

#modalProfileInfoContainer {
  position: relative;
  float: left;
  top: 0;
  width: 500px;
  // height: 200px;
  display: block;
  margin: 0 20px 0 20px;
}

#editProfileModal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.664);
  z-index: 1;
}

#editProfileModalContent {
  // height: 80vh;
  // width: 80vh;
  background-color: rgba(255, 105, 180, 0.657);
  background-color: #fefefe;
  margin: 30% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 50%;

  -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

//////////////////////Matches Tab///////////////////
#matchesContentParent,
#likesContentParent {
  padding: 1rem 3rem;
  display: grid;

  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.matchesCard,
.likesCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem;
  width: fill;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: unset;

  // padding: 20px;

  // background-color: rgba(0, 0, 0, 0.01);
  background-color: white;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  // border: solid 20px rgb(238, 238, 238);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.matchesCard::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.likesCard::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.matchesCardProfilePic,
.likesCardProfilePic {
  width: 100%;
  height: 150px;
  object-fit: cover;
  // margin: 20px;
  border-radius: 12px;
}

@media screen and (min-width: 1950px) {
  #matchesContentParent,
  #likesContentParent {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1700px) and (max-width: 1950px) {
  #matchesContentParent,
  #likesContentParent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 750px) and (max-width: 1700px) {
  #matchesContentParent,
  #likesContentParent {
    grid-template-columns: repeat(2, 1fr);
  }
}

////////////////////////EXPLORE TAB/////////////////////////////////

.exploreCard {
  max-width: 100%;
  padding: 80px;
  text-align: center;
  // background-color: rgb(221, 221, 221);
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.198);
}

.flip {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.exit {
  -webkit-animation: fade-out-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fade-out-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.exploreCardProfilePic {
  max-width: 100%;
  height: 80%;
  max-height: 800px;
  object-fit: cover;

  border-radius: 30px;
}

.promiseBtn {
  padding: 30px;
  color: white;
  border-radius: 10px;
  border: none;

  font-weight: bold;
}

.promiseBtn:hover {
  opacity: 0.7;
}

.fulfill:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.reject:hover {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

////////////////////////////////////////////////////////////////////
/////////////////////////// CHAT BAR /////////////////////////////////
///////////////////////////////////////////////////////////////////////

#chatBar {
  height: 100%;
  width: 100%;
  padding-top: 65px;
}

///////////////////////////////////////////////////////////////////////
/////////////////////// RESPONSE GRID SYSTEM //////////////////////////
///////////////////////////////////////////////////////////////////////

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  // margin: 20px 0 0 1.6%;
  text-align: center;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}
/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 60%;
  font-family: Pacifico;
  font-size: 2.1rem;
  text-shadow: 4px 1px 9px rgba(0, 0, 0, 0.48);
}
.span_1_of_3 {
  width: 20%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1100px) {
  .span_3_of_3,
  .span_1_of_3 {
    width: 0%;
    opacity: 0;
  }
  .span_2_of_3 {
    width: 100%;
    font-family: Pacifico;
    text-shadow: 4px 1px 9px rgba(0, 0, 0, 0.48);
  }

  #profileContent {
    width: 400px;
  }
  #modalProfileInfoContainer {
    width: 300px;
    text-align: center;
  }
  #modalProfilePic {
    margin: 20px 80px;
  }
}

//////////////////////////////////////////
/////////////Main Content responsive/////////////////@at-root//////////////////////////////////

/* Create three unequal columns that floats next to each other */

.parent {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div1,
.div2,
.div3 {
  margin: 0 2% 0 2%;
}

////////////////////////////////////////////////////////////////////////////////////ANIMATION KEYFRAMES////////////////
////////////////////////////////////////////////////////////

/* ----------------------------------------------
 * Generated by Animista on 2021-6-12 17:3:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-13 22:12:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-13 22:18:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-14 12:48:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-14 12:51:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-14 16:57:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-14 17:0:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-14 18:38:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
